body{

background:#050510;
color:white;

font-family:Arial;

}



.neon-blue{

color:#00eaff;

text-shadow:
0 0 10px #00eaff,
0 0 20px #00eaff;

}



.neon-card{

background:#0d0d20;

padding:20px;

margin-bottom:15px;

border-radius:15px;

box-shadow:

0 0 10px #00eaff;

}



.btn-neon{

background:#00eaff;

color:black;

font-weight:bold;

}



.btn-purple{

background:#ff00ff;

color:white;

}



.smallText{

color:#cccccc;

}



.sinocoins{

color:#00ff9c;

font-size:20px;

}



.playerCard{

border:

1px solid #00eaff;

padding:10px;

margin-top:10px;

border-radius:10px;

}



.pokemonCard{

display:inline-block;

text-align:center;

margin:5px;

}



img{

width:80px;

}



.mission{

border:

1px solid #ff00ff;

padding:10px;

margin:5px;

border-radius:10px;

}



button:hover{

transform:scale(1.05);

transition:0.3s;

}