body{

background:linear-gradient(
45deg,
#050510,
#080820,
#050510
);

background-size:400% 400%;

animation:fondo 10s infinite;

color:white;

font-family:Arial;

}



@keyframes fondo{

0%{background-position:0%}

50%{background-position:100%}

100%{background-position:0%}

}




.neon-blue{

color:#00f7ff;

text-shadow:

0 0 10px #00f7ff,
0 0 20px #00f7ff;

}




.neon-card{

background:#0d0d20;

padding:20px;

margin-bottom:15px;

border-radius:15px;

box-shadow:

0 0 10px #00f7ff;

transition:.3s;

}



.neon-card:hover{

box-shadow:

0 0 20px #00f7ff,
0 0 40px #00f7ff;

}




.btn-neon{

background:#00f7ff;

color:black;

font-weight:bold;

}




.smallText{

color:#bbbbbb;

}




.sinocoins{

color:#00ff9c;

font-size:22px;

text-shadow:

0 0 10px #00ff9c;

}




.playerCard{

border:1px solid #00f7ff;

padding:10px;

margin-top:10px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}



.playerCard:hover{

box-shadow:

0 0 20px #00f7ff;

}




.profile{

background:#000020;

padding:20px;

border-radius:15px;

box-shadow:

0 0 20px #00f7ff;

}




.avatar{

width:60px;

border-radius:50%;

}



.avatarBig{

width:150px;

border-radius:50%;

}




.team{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:10px;

}



.pokemonCard{

background:#111125;

padding:10px;

border-radius:10px;

border:1px solid #00f7ff;

text-align:center;

}



.pokemonCard img{

width:110px;

}




.mission{

border:1px solid #ff00ff;

padding:10px;

margin:10px;

border-radius:10px;

background:#140014;

transition:.3s;

}



.mission:hover{

box-shadow:

0 0 20px #ff00ff;

}




.shopItem{

border:1px solid #00ff9c;

padding:8px;

margin:8px;

border-radius:8px;

background:#001a12;

}




.hidden{

display:none;

}