body{

background:black;

color:white;

font-family:Arial;

overflow-x:hidden;

}



/* FONDO CYBERPUNK */

body::before{

content:"";

position:fixed;

width:100%;

height:100%;

background:

linear-gradient(

45deg,

#00ffff22,

#ff00ff22,

#00ff0022

);

animation:fondo 10s infinite linear;

z-index:-1;

}



@keyframes fondo{

0%{transform:translateX(0)}

100%{transform:translateX(200px)}

}



/* TITULO NEON */

.titulo{

color:#00ffff;

animation:neon 2s infinite alternate;

}



@keyframes neon{

from{

text-shadow:

0 0 5px #00ffff;

}

to{

text-shadow:

0 0 20px #00ffff,

0 0 40px #00ffff;

}

}



/* TARJETAS */

.playerCard{

border:2px solid #00ffff;

margin:10px;

padding:10px;

animation:borde 3s infinite;

}



@keyframes borde{

0%{box-shadow:0 0 5px #00ffff}

50%{box-shadow:0 0 20px #ff00ff}

100%{box-shadow:0 0 5px #00ffff}

}



/* BOTONES */

.btn-neon{

border:1px solid #00ffff;

background:black;

color:#00ffff;

}



.btn-neon:hover{

box-shadow:

0 0 10px #00ffff,

0 0 20px #00ffff;

}



/* POKEMON */

.pokemonCard{

width:140px;

height:140px;

border:2px solid #ff00ff;

margin:5px;

transition:0.3s;

}



.pokemonCard:hover{

transform:scale(1.1);

box-shadow:

0 0 20px #ff00ff,

0 0 40px #ff00ff;

}



.pokemonCard img{

width:110px;

}



/* MISIONES */

.mision{

border:1px solid #00ff00;

margin:5px;

padding:5px;

}



/* TIENDA */

.shopItem{

width:100%;

margin:3px;

background:black;

border:1px solid #00ffff;

color:#00ffff;

}



/* PERFIL */

#perfil{

border:1px solid #00ffcc;

padding:10px;

}