body{

background:
radial-gradient(circle at 20% 20%,#001020,#000),
radial-gradient(circle at 80% 80%,#200020,#000);

animation:fondo 8s infinite alternate;

color:white;

font-family:Arial;

}


@keyframes fondo{

from{filter:hue-rotate(0deg)}
to{filter:hue-rotate(40deg)}

}



.neon-blue{

color:#00f7ff;

text-shadow:

0 0 10px #00f7ff,
0 0 20px #00f7ff;

}



.neon-card{

background:#0d0d20;

padding:20px;

margin-bottom:15px;

border-radius:15px;

box-shadow:

0 0 10px #00f7ff;

}



.btn-neon{

background:#00f7ff;

font-weight:bold;

}



.playerCard{

border:1px solid #00f7ff;

padding:10px;

margin-top:10px;

border-radius:10px;

cursor:pointer;

transition:.3s;

}


.playerCard:hover{

box-shadow:

0 0 20px #00f7ff;

}



.profile{

background:#000020;

padding:20px;

border-radius:15px;

box-shadow:

0 0 20px #00f7ff;

}



.avatarBig{

width:150px;

border-radius:50%;

}



.team{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:10px;

}



.pokemonCard{

background:#111125;

padding:10px;

border-radius:10px;

border:1px solid #00f7ff;

text-align:center;

transition:.3s;

}


.pokemonCard:hover{

box-shadow:

0 0 20px #00f7ff;

}



.pokemonCard img{

width:110px;

}



.purpleTitle{

color:#ff00ff;

text-shadow:

0 0 10px #ff00ff;

}



.greenTitle{

color:#00ff9c;

text-shadow:

0 0 10px #00ff9c;

}



.mission{

background:#140014;

border-radius:10px;

padding:10px;

margin:10px;

border-left:4px solid #ff00ff;

transition:.3s;

}


.mission:hover{

box-shadow:

0 0 20px #ff00ff;

transform:scale(1.02);

}



.shopItem{

background:#001a12;

border-radius:10px;

padding:10px;

margin:10px;

border-left:4px solid #00ff9c;

display:flex;

justify-content:space-between;

}


.shopItem:hover{

box-shadow:

0 0 20px #00ff9c;

}



.randomBox{

text-align:center;

padding:20px;

border:2px solid #00f7ff;

border-radius:15px;

animation:glow 1s infinite alternate;

}


@keyframes glow{

from{

box-shadow:0 0 10px #00f7ff

}

to{

box-shadow:0 0 30px #00f7ff

}

}



.hidden{

display:none;

}



.sinocoins{

color:#00ff9c;

font-size:22px;

text-shadow:

0 0 10px #00ff9c;

}