body{
 background:#070712;
 color:white;
 font-family:Segoe UI;
 margin:0;
 padding:20px;
}

.titulo{
 text-align:center;
 color:#00ffff;
 text-shadow:0 0 20px cyan;
}

.sinocoinsBox{
 text-align:center;
 margin-bottom:20px;
 font-size:20px;
}

#participantes{
 display:grid;
 grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
 gap:20px;
}

.playerCard{
 background:#111;
 border-radius:15px;
 padding:15px;
 text-align:center;
 position:relative;
 transition:.3s;
 border:2px solid cyan;
}

.playerCard:hover{
 transform:translateY(-5px);
 box-shadow:0 0 25px cyan;
}

.playerCard.active{
 outline:3px solid yellow;
}

.playerImg{
 width:70px;
 height:70px;
 border-radius:50%;
 object-fit:cover;
}

.hoverActions{
 position:absolute;
 bottom:0;
 left:0;
 width:100%;
 background:black;
 transform:translateY(100%);
 transition:.3s;
 padding:10px;
}

.playerCard:hover .hoverActions{
 transform:translateY(0);
}

button{
 background:black;
 color:cyan;
 border:1px solid cyan;
 padding:5px 10px;
 margin:3px;
 cursor:pointer;
}

button:hover{
 box-shadow:0 0 10px cyan;
}

/* PANEL PERFIL */
.panelPerfil{
 position:fixed;
 top:0;
 right:-350px;
 width:320px;
 height:100%;
 background:#0b0b1a;
 border-left:2px solid cyan;
 padding:20px;
 transition:.4s;
 overflow:auto;
 z-index:999;
}

.panelPerfil.open{
 right:0;
}

/* EQUIPO */
#equipo{
 display:flex;
 flex-wrap:wrap;
 gap:15px;
 margin-bottom:30px;
}

.pokemonCard{
 width:130px;
 background:#111;
 border-radius:15px;
 border:2px solid magenta;
 text-align:center;
 padding:10px;
}

.pokemonCard img{
 width:100px;
 height:100px;
 object-fit:contain;
}

/* MISIONES */
.mision{
 background:#111;
 border:1px solid lime;
 margin:6px 0;
 padding:8px;
 border-radius:10px;
 display:flex;
 justify-content:space-between;
}