body{

background:#04040a;
color:white;
font-family:Arial;
padding:20px;

}


/* NAV */

.neon-blue{

color:#00f7ff;

text-shadow:
0 0 5px #00f7ff,
0 0 15px #00f7ff,
0 0 30px #00f7ff;

animation:glowBlue 2s infinite alternate;

}



@keyframes glowBlue{

from{

text-shadow:
0 0 5px #00f7ff,
0 0 15px #00f7ff;

}

to{

text-shadow:
0 0 20px #00f7ff,
0 0 40px #00f7ff;

}

}



/* CARDS */

.neon-card{

background:#0c0c1a;

padding:20px;

border-radius:15px;

margin-bottom:20px;

box-shadow:

0 0 10px #00f7ff;

transition:0.4s;

}


.neon-card:hover{

box-shadow:

0 0 20px #00f7ff,

0 0 40px #00f7ff;

}



/* BOTONES */

.btn-neon{

background:#00f7ff;

border:none;

font-weight:bold;
padding:10px;
cursor:pointer;

}


.btn-neon:hover{

box-shadow:

0 0 10px #00f7ff,

0 0 30px #00f7ff;

}



/* TEXTO */

.smallText{

color:#aaaaaa;

font-size:14px;

}



/* PLAYER */

.playerCard{

border:1px solid #00f7ff;

padding:15px;

margin-top:15px;

border-radius:12px;

transition:0.3s;

cursor:pointer;

display:flex;
align-items:center;
gap:10px;

}


.playerCard:hover{

transform:scale(1.02);

box-shadow:

0 0 20px #00f7ff;

}



/* TEAM */

.team{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:10px;

margin-top:10px;

}


.pokemonCard{

background:#111125;

border-radius:10px;

padding:10px;

text-align:center;

border:1px solid #00f7ff;

}


.pokemonCard img{

width:110px;

}



/* PERFIL */

.profile{

background:#000010;

padding:20px;

border-radius:15px;

box-shadow:

0 0 20px #00f7ff;

margin-bottom:20px;

}


.profile h2{

color:#00f7ff;

}



.hidden{

display:none;

}



.avatar{

width:70px;
border-radius:50%;

}



.avatarBig{

width:150px;
border-radius:50%;

}