body{
  background:black;
  color:white;
  font-family:Arial;
  overflow-x:hidden;
}

/* FONDO CYBERPUNK ANIMADO */
body::before{
  content:"";
  position:fixed;
  width:100%;
  height:100%;
  background:linear-gradient(45deg,#00ffff22,#ff00ff22,#00ff0022);
  animation:fondo 10s infinite linear;
  z-index:-1;
}
@keyframes fondo{
  0%{transform:translateX(0)}
  100%{transform:translateX(200px)}
}

/* TITULO NEON */
.titulo{
  color:#00ffff;
  animation:neon 2s infinite alternate;
}
@keyframes neon{
  from{text-shadow:0 0 5px #00ffff;}
  to{text-shadow:0 0 20px #00ffff,0 0 40px #00ffff;}
}

/* PARTICIPANTES */
.playerCard{
  border:2px solid #00ffff;
  margin:10px;
  padding:10px;
  border-radius:10px;
  animation:borde 3s infinite;
}
@keyframes borde{
  0%{box-shadow:0 0 5px #00ffff;}
  50%{box-shadow:0 0 20px #ff00ff;}
  100%{box-shadow:0 0 5px #00ffff;}
}
.playerImg{
  width:80px;
  height:80px;
  border-radius:50%;
  border:2px solid #00ffff;
  margin-bottom:10px;
}

/* BOTONES NEON */
.btn-neon{
  border:1px solid #00ffff;
  background:black;
  color:#00ffff;
  margin:5px;
  padding:6px 12px;
  transition:0.3s;
}
.btn-neon:hover{
  box-shadow:0 0 10px #00ffff,0 0 20px #00ffff;
  transform:scale(1.05);
}

/* EQUIPO */
#equipo{display:flex;flex-wrap:wrap;gap:10px;}
.pokemonCard{
  width:140px;
  height:140px;
  border:2px solid #ff00ff;
  margin:5px;
  border-radius:10px;
  text-align:center;
  transition:0.3s;
}
.pokemonCard:hover{
  transform:scale(1.1);
  box-shadow:0 0 20px #ff00ff,0 0 40px #ff00ff;
}
.pokemonCard img{
  width:110px;
}

/* MISIONES */
.mision{
  border:1px solid #00ff00;
  margin:5px;
  padding:5px;
  border-radius:8px;
}

/* TIENDA */
.shopItem{
  width:100%;
  margin:3px 0;
  background:black;
  border:1px solid #00ffff;
  color:#00ffff;
  padding:6px;
  transition:0.3s;
}
.shopItem:hover{
  background:#00ffff;
  color:black;
  box-shadow:0 0 10px #00ffff;
}

/* PERFIL */
#perfil{
  border:1px solid #00ffcc;
  padding:10px;
  border-radius:10px;
}