body{
  background:black;
  color:white;
  font-family:Arial;
  overflow-x:hidden;
}

body::before{
  content:"";
  position:fixed;
  width:100%;
  height:100%;
  background:linear-gradient(45deg,#ff00ff44,#00ffff44,#00ff0044);
  background-size:400% 400%;
  animation:fondo 18s linear infinite;
  z-index:-1;
}

@keyframes fondo{
  0%{background-position:0%}
  100%{background-position:400%}
}

.titulo{
  color:#00ffff;
  text-shadow:0 0 15px #00ffff;
}

#participantes{
  display:flex;
  flex-wrap:wrap;
  gap:20px;
  justify-content:center;
}

.playerCard{
  position:relative;
  width:200px;
  padding:15px;
  border-radius:20px;
  background:rgba(0,0,0,0.75);
  backdrop-filter:blur(6px);
  transition:.4s;
  overflow:hidden;
}

.playerCard::before{
  content:"";
  position:absolute;
  inset:0;
  background:linear-gradient(120deg,transparent,rgba(255,255,255,.2),transparent);
  animation:holo 3s linear infinite;
}

@keyframes holo{
  from{transform:translateX(-100%)}
  to{transform:translateX(100%)}
}

.playerCard:hover{
  transform:translateY(-6px) scale(1.04);
  box-shadow:0 0 30px #00ffff;
}

.Beginner{border:2px solid #00ff00;}
.Veterano{border:2px solid #00aaff;}
.Pro{border:2px solid #ff0033;}

.playerImg{
  width:80px;
  border-radius:50%;
  border:2px solid cyan;
}

.hoverActions{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background:black;
  transform:translateY(100%);
  transition:.4s;
  text-align:center;
  padding:10px;
}

.playerCard:hover .hoverActions{
  transform:translateY(0%);
}

.btn-neon{
  border:1px solid cyan;
  background:black;
  color:cyan;
  margin:3px;
  padding:6px 12px;
}

.btn-neon:hover{
  box-shadow:0 0 15px cyan;
}

#equipo{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
}

.pokemonCard{
  width:140px;
  height:170px;
  border:2px solid magenta;
  border-radius:15px;
  text-align:center;
  background:#111;
  transition:.3s;
}

.pokemonCard:hover{
  transform:scale(1.1);
}

.shopItem{
  width:100%;
  margin:5px 0;
  padding:8px;
  border:1px solid cyan;
  background:black;
  color:cyan;
  transition:.3s;
}

.shopItem:active{
  transform:scale(.95);
  box-shadow:0 0 20px cyan;
}

.mision{
  border:1px solid lime;
  padding:8px;
  margin:5px;
  border-radius:10px;
}