
body{

background:

radial-gradient(
circle at 20% 20%,
#002,
black),

radial-gradient(
circle at 80% 80%,
#022,
black);

color:white;

font-family:Arial;

}



.title{

text-align:center;

color:cyan;

margin:20px;

}



.box{

border:2px solid cyan;

border-radius:15px;

padding:15px;

margin:10px;

background:rgba(0,0,0,0.4);

box-shadow:0 0 15px cyan;

}



#players{

max-height:250px;

overflow-y:auto;

}



.player{

border:1px solid cyan;

padding:5px;

margin:5px;

cursor:pointer;

}



#perfil{

max-width:700px;

margin:auto;

}



#perfilFoto{

width:80px;

border-radius:50%;

}



#team{

display:grid;

grid-template-columns:

repeat(3,1fr);

gap:10px;

}



.pokemon{

border:2px solid cyan;

padding:5px;

text-align:center;

cursor:pointer;

}



.pokemon img{

width:50px;

}



button{

margin:3px;

border:none;

border-radius:8px;

padding:6px;

background:linear-gradient(

45deg,
cyan,
purple);

color:white;

}



#bracket{

display:flex;

gap:40px;

overflow-x:auto;

}


