body{

background:#020617;

color:#e2e8f0;

font-family:Segoe UI;

}



/* NAVBAR */

.navbar{

background:#000;

border-bottom:3px solid gold;

padding:10px;

}



/* HERO */

.hero{

padding:80px;

background:linear-gradient(

#000,

#020617

);

}



.hero h1{

font-size:70px;

color:gold;

font-weight:900;

}



.subtitle{

color:#cbd5e1;

}



/* TITLES */

h2{

border-left:4px solid gold;

padding-left:10px;

}



/* CARDS */

.card{

background:#0f172a;

border-radius:15px;

border:1px solid #334155;

padding:20px;

transition:.3s;

}



.card:hover{

transform:translateY(-5px);

box-shadow:0px 20px 40px black;

}



/* PLAYER */

.player{

background:#0f172a;

border-radius:10px;

padding:15px;

margin:10px;

width:250px;

border:1px solid #334155;

animation:fade .5s;

}



/* CHAMPION */

.champion{

background:linear-gradient(

gold,

orange

);

color:black;

padding:30px;

border-radius:15px;

font-size:25px;

text-align:center;

}



/* DEAD */

.dead{

opacity:.4;

text-decoration:line-through;

}



/* BUTTON */

.btn{

border-radius:10px;

}



/* ANIMATION */

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

}

}
.team{

display:flex;
flex-wrap:wrap;

}


.pokeCard{

background:#020617;

border:1px solid #334155;

border-radius:10px;

padding:5px;

margin:5px;

text-align:center;

width:90px;

}


.pokeCard img{

width:70px;

}


.progress{

background:#111;

}


.progress-bar{

background:gold;

}